*{
    margin: 0;
    padding: 0;
}
header{
    background-color:black;
    color:white;
    padding: 5px;
    font-size: 20px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}



.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
nav li{
    display: inline-block;
    margin-right: 20px;
}
nav  a{
    text-decoration: none;
    color:white;

}
nav img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
}
.nav-item i{
    color:white;
    text-decoration: none;
    padding: 10px;
}
body{
    background-color: whitesmoke;
    font-family: 'Cambria, serif';
}
.about{
    max-width: 880px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.about h1, .about h2{
    color: #444;
}
.about p, .about ul{
    margin: 1rem 0;
}
.about ul{
    list-style-type: circle;
}
footer{
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 0.9rem;
    position: relative;
    bottom: 0;
    left:0;
    margin: 0;
    height: auto;
    width: 100%;
    font-size: 15px;
    }
    .footer-container{
        display: flex;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 1rem;
        justify-content: space-between;
        padding: 5px;
    
    }
    .footer-bottom{
        text-align: center;
        padding: 5px;
    }
    .footer-container h3{
        font-size: 20px;
    }