*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Cambria, serif';
    background-image: url(./img/3.jpg);
    background-size:cover ;
    background-position:center ;
    background-repeat:no-repeat ;
    height: 100vh;
    width: 100%;
}
header{
    background-color:black;
    color:white;
    padding: 5px;
    font-size: 20px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}



.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
nav li{
    display: inline-block;
    margin-right: 20px;
}
nav  a{
    text-decoration: none;
    color:white;

}
nav img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
}
.nav-item i{
    color:white;
    text-decoration: none;
    padding: 10px;
}
.content{
    text-align: center;
}
.content h4{
    font-size:22px ;
    padding: 70px;
    color: white;
}
.content h1{
    font-size: 78px;
    padding: 30px;
    color: white;
}
.content h3{
    font-size: 35px;
    padding: 30px;
    color: white;
}
.content p{
    font-size: 22px;
    padding: 30px;
    color: white;
    
}

.content a{
    margin: 30px;
    
}

footer{
padding: 10px;
background-color: black;
color: white;
font-size: 0.9rem;
position: relative;
bottom: 0;
left:0;
width: 100%;
margin: 0;
height: auto;
font-size: 15px;
}
.footer-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    justify-content: space-between;
    padding: 5px;

}
.footer-bottom{
    text-align: center;
    padding: 5px;
}
.footer-container h3{
    font-size: 20px;
}