*{
    margin: 0;
    padding: 0;
}
header{
    background-color:black;
    color:white;
    padding: 5px;
    font-size: 20px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}



.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
nav li{
    display: inline-block;
    margin-right: 20px;
}
nav  a{
    text-decoration: none;
    color:white;

}
nav img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
}
.nav-item i{
    color:white;
    text-decoration: none;
    padding: 10px;
}
body{
    background-color: whitesmoke;
    font-family: 'Cambria, serif';

    }
.login-form{
    width: 100%;
    max-width: 400px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2);
}
.login-form label{
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color:#333;
}
.login-form input{
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}
.login-form button{
    background-color: silver;
    color: white;
    padding: 0.7rem ;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}
.login-form button:hover{
    background-color: wheat;
}
.login-form p{
    padding: 5px;
    text-align: center;
    font-size: 0.9rem;
}
.login-form a{
    color:gold;
    text-decoration: none;
}
footer{
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 0.9rem;
    position: relative;
    bottom: 0;
    margin: 0;
    height: auto;
    left:0;
    width: 100%;
    font-size: 15px;
    }
    .footer-container{
        display: flex;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 1rem;
        justify-content: space-between;
        padding: 5px;
    
    }
    .footer-bottom{
        text-align: center;
        padding: 5px;
    }
    .footer-container h3{
        font-size: 20px;
    }