*{
    margin: 0;
    padding: 0;
}
header{
    background-color:black;
    color:white;
    padding: 5px;
    font-size: 20px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}



.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
nav li{
    display: inline-block;
    margin-right: 20px;
}
nav  a{
    text-decoration: none;
    color:white;

}
nav img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
}
body{
    background-color: whitesmoke;
    font-family: 'Cambria, serif';
}
.nav-item i{
    color:white;
    text-decoration: none;
    padding: 10px;
}
.product{
    display: flex;
    flex-direction: row;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.product img{
    width: 500px;
    height: 500px;
    margin-right: 20px;
}
.product-info{
    max-width: 450px;
}
.product-info h1{
    font-size: 24px;
    color:#333;
}
.price{
    font-size: 20px;
    color:#007BFF;
    margin: 10px 0;
}
.add-to-carts{
    display: flex;
    align-items: center;margin: 15px 0;
}
.quantity{
    width: 50px;
    padding: 5px;
    margin-right: 10px;
}
button{
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border:none ;
    cursor: pointer;
    text-decoration: none;
}
.button:hover{
    background-color:gray;
}
.description h2{
    font-size: 18px;
    margin: 10px 0;
}
.description p{
    color: #666;
    line-height: 1.5;
}
footer{
    padding: 20px;
    background-color: black;
    color:white;
    font-size: 0.9rem;
    position: relative;
    bottom: 0;
    left:0;
    width: 100%;
    margin: 0;
    height: auto;
    font-size: 15px;
    }
    .footer-container{
        display: flex;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 1rem;
        justify-content: space-between;
        padding: 5px;
    
    }
    .footer-bottom{
        text-align: center;
        padding: 5px;
    }
    .footer-container h3{
        font-size: 20px;
    }